#myCanvas {
  border: 1px solid rgb(255, 245, 227);
}

.main {
  display: flex;
  text-align: left;
  justify-content: space-around;
}

body {
  background-image: radial-gradient(
    rgb(88, 195, 219),
    rgb(101, 121, 198),
    rgb(45, 66, 140)
  );
  text-align: center;
  color: black;
}
